.vs/lab-2-asmbler/FileContentIndex/51f5aed0-99c2-44c1-ba81-a7bfc3976113.vsidx
.vs/lab-2-asmbler/v17/Browse.VC.db
.vs/lab-2-asmbler/v17/Browse.VC.db-shm
.vs/lab-2-asmbler/v17/Browse.VC.db-wal
.vs/lab-2-asmbler/v17/Browse.VC.opendb
.gitattributes
.vs/lab-2-asmbler/FileContentIndex/282fa9b2-e612-4840-85f7-b818db98adf7.vsidx
.vs/lab-2-asmbler/FileContentIndex/0707e512-553e-4472-a4f8-210419264335.vsidx
.vs/lab-2-asmbler/FileContentIndex/561435fc-1def-4a68-8775-c0f2b8ca63e3.vsidx
.vs/lab-2-asmbler/v17/.suo
.vs/lab-2-asmbler/v17/DocumentLayout.backup.json
.vs/lab-2-asmbler/v17/DocumentLayout.json
.vs/lab-2-asmbler/v17/ipch/AutoPCH/95350b636b312bef/MAIN.ipch
.vs/lab-2-asmbler/v17/ipch/AutoPCH/96c8d79e6f805ab0/MAIN.ipch
Debug/lab-2-asmbler.exe
Debug/lab-2-asmbler.pdb
lab-2-asmbler/Debug/lab-2-asmbler.exe.recipe
lab-2-asmbler/Debug/lab-2-asmbler.ilk
lab-2-asmbler/Debug/lab-2-asmbler.log
lab-2-asmbler/Debug/lab-2-asmbler.tlog/CL.command.1.tlog
lab-2-asmbler/Debug/lab-2-asmbler.tlog/Cl.items.tlog
lab-2-asmbler/Debug/lab-2-asmbler.tlog/CL.read.1.tlog
lab-2-asmbler/Debug/lab-2-asmbler.tlog/CL.write.1.tlog
lab-2-asmbler/Debug/lab-2-asmbler.tlog/lab-2-asmbler.lastbuildstate
lab-2-asmbler/Debug/lab-2-asmbler.tlog/link.command.1.tlog
lab-2-asmbler/Debug/lab-2-asmbler.tlog/link.read.1.tlog
lab-2-asmbler/Debug/lab-2-asmbler.tlog/link.secondary.1.tlog
lab-2-asmbler/Debug/lab-2-asmbler.tlog/link.write.1.tlog
lab-2-asmbler/Debug/main.obj
lab-2-asmbler/Debug/vc143.idb
lab-2-asmbler/Debug/vc143.pdb
lab-2-asmbler/x64/Debug/lab-2-asmbler.log
lab-2-asmbler/x64/Debug/lab-2-asmbler.tlog/CL.command.1.tlog
lab-2-asmbler/x64/Debug/lab-2-asmbler.tlog/lab-2-asmbler.lastbuildstate
lab-2-asmbler/x64/Debug/lab-2-asmbler.tlog/Masm.read.1u.tlog
lab-2-asmbler/x64/Debug/lab-2-asmbler.tlog/Masm.write.1u.tlog
lab-2-asmbler/x64/Debug/lab-2-asmbler.tlog/unsuccessfulbuild
lab-2-asmbler/x64/Debug/vc143.idb
lab-2-asmbler/x64/Debug/vc143.pdb
